* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: brown;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  padding: 10px;
  color: aliceblue;
  text-decoration: none;
}
